.App {
  justify-content: center;
}

body{
  margin:0;
}

input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}

button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #c5c5c5;
}

#events {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#events td, #events th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

#events tr:nth-child(even){background-color: #f2f2f2;}

#events tr:hover {background-color: #ddd;}

#events th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0000FF;
  color: white;
}

#space {
  width: 15%;
}

p {
  text-align: center;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 30px;
  margin-right: 30px;
}

.side_by_side {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: left;
}

.side_by_element {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}  

.info {
  margin: auto;
  text-align: center;
  width:20%;
}

.nav{
  background-color: #0000FF;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

.site-title {
  font-size: 3.0rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  
}


