{% extends "layouts/base.html" %}

{% block title %}
Search Events
{% endblock %}

{% block content %}
<form method="POST" action="/get-events">
    <div>
        <label for="postal_code">Postal Code:</label>
		<input type="text" name="postal_code" value="" minlength="5"> 
    </div>
    <div>
        <label for="max_price">Max Price:</label>
		<input type="number" name="max_price" value="" min="0"> 
    </div>
    <div>
        <label for="start_date">Start Date:</label>
		<input type="date" name="start_date" value=""> 
    </div>
    <div>
        <label for="end_date">End Date:</label>
		<input type="date" name="end_date" value=""> 
    </div>
    <div>
        <label for="size">How many events?</label>
		<input type="number" name="size" value="" min="1"> 
    </div>
</form>
{% endblock %}